
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
  padding-top: 75px;
  font-family: 'Inter';
}

/* sombreado no header */
.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

#home-quote {
  background:  url(../img/bg-quote.jpg) center center;
  background-size: cover;
}

/* reponsivo customizado */

@media (max-width: 767px) { 
  #home-quote .display-4 {
    font-size: 2.5rem;
  }

  body {
    padding: 0px; }

    .fixed-top {
      position: relative;
    }
  }
  

  /* estilização do local.html*/

  .col-md img:hover { 
    
    transform: scale(1.05); 
    transition: 0.5s ease-in-out;
  }

    /* estilização do plano.html*/

    .lista-plano li + li {
      border-top: 1px solid rgba(0, 0, 0, 0.093);
    }

      .lista-plano li {
        padding: 1rem;

      }